.App {
  text-align: center;
}

body {
  font-family: inherit;
  background-color: #e3dcfd;
  padding-bottom: 5rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
